python-dotenv
fastapi
pydantic
langchain-community
langchain-core
langchain-huggingface
langchain-openai
langchain-pinecone
langchain-text-splitters
pinecone
sentence-transformers
pypdf
langgraph
pytest
uvicorn[standard]
